<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
    <style>
      body{
        background-color: rgb(213, 188, 236);
      }
       .container{
        width: 40%;
        box-shadow: 3px 3px 3px 4px rgb(98, 52, 145);
        border-radius: 8px;
        padding: .5rem;
        background-color: rgb(229, 212, 246);
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            aria-describedby="coverImage"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
          />
        </div>
        <div class="mb-3">
          <label for="body">Body</label>
          <textarea name="body" class="form-control" id="body"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
